body {
    color: rgb(0, 0, 0);
    background: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
    color: rgb(0, 102, 0);
    font-weight: 800;
}

h3 {
    margin-left: 20px;
}

ul {
    margin-left: 20px;
}

li a {
    font-weight: bold;
    color: rgb(98, 163, 0)
}