{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Principal</title>
</head>
<body>
    
    <h1>Minha lista</h1>
    <h3>Coisas à fazer:</h3>
    {% for item in objects%}
        <ul>
            <li>
                <h2><a href="{% url 'detalhe' item.id %}">{{item.titulo}}</a></h2>
            </li>
        </ul>
    {% endfor %}
    <a href="{% url 'criar' %}">Adicione um item a sua Lista</a>
</body>
</html>